# Step 1 :- Importing Datasets

In [1]:
import pandas as pd
lbbl=pd.read_csv('LBBL.csv')

In [3]:
lbbl=pd.read_csv('LBBL.csv',header=0,index_col='Date',parse_dates=True)

In [4]:
lbbl.head(n=5)

           Symbol   Open   High    Low  Close Percent Change  Volume
Date
2021-12-29   LBBL  445.7  445.7  427.0  430.2          -1.56   37355
2021-12-28   LBBL  438.0  448.0  422.0  437.0           1.65   55587
2021-12-27   LBBL  461.0  461.0  427.0  429.9           -5.1   86428
2021-12-26   LBBL  456.0  465.0  446.0  453.0           0.44   79223
2021-12-23   LBBL  466.1  468.0  441.1  451.0          -1.31   74536

In [5]:
lbbl.tail(n=4)

           Symbol   Open   High    Low  Close Percent Change  Volume
Date
2017-07-30   LBBL  226.0  242.0  219.0  220.0           -0.9  102185
2017-07-27   LBBL  206.0  222.0  206.0  222.0            9.9   30929
2017-07-26   LBBL  187.0  202.0  187.0  202.0           9.78      70
2017-07-25   LBBL  171.0  184.0  171.0  184.0           9.52      60

In [7]:
lbbl.describe()

             Open        High         Low       Close        Volume
count  997.000000  997.000000  997.000000  997.000000  9.970000e+02
mean   246.233129  251.297894  241.018556  245.744233  5.498474e+04
std    142.793035  147.743739  136.683298  141.290320  1.106355e+05
min    141.000000  142.000000  136.000000  142.000000  3.200000e+01
25%    170.000000  172.000000  169.000000  171.000000  5.942000e+03
50%    193.000000  195.000000  190.000000  193.000000  1.637700e+04
75%    226.000000  233.000000  222.000000  227.000000  5.175800e+04
max    744.300000  774.000000  700.000000  729.800000  1.035540e+06

In [12]:
lbbl.columns

Index(['Symbol', 'Open', 'High', 'Low', 'Close', 'Percent Change', 'Volume'], dtype='object')

In [13]:
lbbl.index

DatetimeIndex(['2021-12-29', '2021-12-28', '2021-12-27', '2021-12-26',
               '2021-12-23', '2021-12-22', '2021-12-21', '2021-12-20',
               '2021-12-16', '2021-12-15',
               ...
               '2017-07-08', '2017-06-08', '2017-03-08', '2017-02-08',
               '2017-01-08', '2017-07-31', '2017-07-30', '2017-07-27',
               '2017-07-26', '2017-07-25'],
              dtype='datetime64[ns]', name='Date', length=997, freq=None)

In [14]:
lbbl.shape

(997, 7)